.footer {
    position: relative;
    color: var(--base-color);
    background-color: #3b403c;
    padding: 30px 100px !important;
    font-family: var(--ff-monospace);
}

.footer-col,
.footer-col__part-one
.footer-col__part-two {
    width: 50%;
}

.footer-logo h2,
.footer-logo h6,
.footer-title {
    line-height: 1;
    font-weight: 300;
}

.footer-logo h2{
    font-size: 3rem;
}

.footer-logo h6 {
    font-size: 1.5rem;
}

.footer-title {
    color: #b5a09a;
    margin-bottom: 1rem;
}

.footer-usefull-links {
    padding-left: 0 !important;
}

.footer-usefull-links li {
    margin-bottom: 0.5rem;
}

.footer-usefull-links li a {
    cursor: pointer;
    color: var(--base-color);
}

.social-media {
    left: 0;
    bottom: 0;
    padding-left: 0;
    margin-top: 2rem;
    position: absolute;
}

.social-media li {
    margin-right: 1rem;
}

.social-media li a img {
    width: 24px;
    height: 24px;
}

.footer span {
    font-weight: 300;
    font-size: 0.8rem;
}

/*=========================
       media queries
==========================*/
@media (max-width: 992px) {
    .footer {
        padding: 30px 15px !important;
    }

    .footer-logo {
        margin-bottom: 3rem;
    }

    .footer-col {
        width: 100%;
    }
    
    .social-media {
        margin-bottom: 1rem;
    }
}