@font-face {
    font-family: 'Cormorant';
    src: url('../assets/fonts/CormorantGaramond-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-light';
  src: url('../assets/fonts/Montserrat-ExtraLight.ttf');
}
  